# Dependencies
node_modules/

# Next.js
.next/
out/

# Production build
build/
dist/

# Environment variables / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo

# Testing / coverage
coverage/
.nyc_output/

# Vercel
.vercel/

# Turbo
.turbo/

# Misc.env
.env.*
!.env.example
node_modules/
